body, html
{
    background-color: #EDEDED !important;
}

/* =====================================
Header stuff
===================================== */

.intro
{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 55px;
}

.intro h1 {
	font-weight: 900;
    text-transform: uppercase;
}

.intro h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

/* =====================================
Navbar stuff
===================================== */

#pic-of-me {
	border-radius: 50%;
	height: 100px;
}

nav {

}


/* =====================================
Main stuff
===================================== */

.main-intro {
	padding-bottom: 50px;
	padding-top: 75px;
}

.main-intro h3 {
	text-transform: uppercase;
	text-align: center;
}

.main-intro h4 {
	text-transform: lowercase;
	text-align: center;
}

main h4 {
	text-align: center;
	margin-bottom: 45px;
}

main .content {
	text-align: center;
}

.cards {
	margin-bottom: 60px;
}



/* =====================================
Footer stuff
===================================== */

footer .footer-header {
	text-transform: lowercase;
}


hr {
    width: 40px;
    margin-bottom: 45px;
}








